<div class="collection" data-template="browse:clear-facets">
    <ul class="documents">
        <li class="document">
            <div class="thumbnail">
                <img src="demo.png" width="128"/>
            </div>
            <div class="document-info">
                <h3>
                    <a href="#" data-collection="Runen">
                        <pb-i18n key="browse.Runen.title">Runen</pb-i18n>
                    </a>
                </h3>
                <p>
                    <pb-i18n key="browse.Runen.description">Runen.</pb-i18n>
                </p>
            </div>
        </li>
        <li class="document">
            <div class="thumbnail">
                <img src="demo.png" width="128"/>
            </div>
            <div class="document-info">
                <h3>
                    <a href="#" data-collection="Aldfrysk">
                        <pb-i18n key="browse.Aldfrysk.title">Aldfrysk</pb-i18n>
                    </a>
                </h3>
                <p>
                    <pb-i18n key="browse.Aldfrysk.description">Old Frisian texts.</pb-i18n>
                </p>
            </div>
        </li>
        <li class="document">
            <div class="thumbnail">
                <img src="demo.png" width="128"/>
            </div>
            <div class="document-info">
                <h3>
                    <a href="#" data-collection="Midfrysk">
                        <pb-i18n key="browse.Midfrysk.title">Midfrysk</pb-i18n>
                    </a>
                </h3>
                <p>
                    <pb-i18n key="browse.Midfrysk.description">Mid Frisian texts.</pb-i18n>
                </p>
            </div>
        </li>
        <li class="document">
            <div class="thumbnail">
                <img src="demo.png" width="128"/>
            </div>
            <div class="document-info">
                <h3>
                    <a href="#" data-collection="test">
                        <pb-i18n key="browse.test.title">TEI Publisher Demo Collection</pb-i18n>
                    </a>
                </h3>
                <p>
                    <pb-i18n key="browse.test.description">Documents demonstrating various features. The selection is in no way comprehensive but represents a subset of what is possible. Please contribute your own use cases to complement this.</pb-i18n>
                </p>
            </div>
        </li>
        <li class="document">
            <div class="thumbnail">
                <img src="playground.png" width="128"/>
            </div>
            <div class="document-info">
                <h3>
                    <a href="#" data-collection="playground">
                        <pb-i18n key="browse.playground.title">Playground</pb-i18n>
                    </a>
                </h3>
                <p>
                    <pb-i18n key="browse.playground.description">A writable collection into which you can upload your own documents for testing.</pb-i18n>
                </p>
            </div>
        </li>
        <li class="document">
            <div class="thumbnail">
                <img src="documentation.png"/>
            </div>
            <div class="document-info">
                <h3>
                    <a href="doc/documentation.xml">
                        <pb-i18n key="browse.doc.title">Documentation</pb-i18n>
                    </a>
                </h3>
                <p>
                    <pb-i18n key="browse.doc.description">Documentation and News using Docbook XML.</pb-i18n>
                </p>
            </div>
        </li>
        <li class="document">
            <div class="thumbnail">
                <img src="annotations.png" width="128"/>
            </div>
            <div class="document-info">
                <h3>
                    <a href="#" data-collection="annotate">
                        <pb-i18n key="browse.annotations.title">Annotation Samples</pb-i18n>
                    </a>
                </h3>
                <p>
                    <pb-i18n key="browse.annotations.description">Another playground for annotating documents.</pb-i18n>
                </p>
            </div>
        </li>
        <li class="document">
            <div class="thumbnail">
                <svg xmlns="http://www.w3.org/2000/svg" width="128" viewBox="0 0 208 128">
                    <rect width="198" height="118" x="5" y="5" ry="10" stroke="#000" stroke-width="10" fill="none"/>
                    <path d="M30 98V30h20l20 25 20-25h20v68H90V59L70 84 50 59v39zm125 0l-30-33h20V30h20v35h20z"/>
                </svg>
            </div>
            <div class="document-info">
                <h3>
                    <a href="about.md">
                        <pb-i18n key="browse.markdown.title">Markdown Sample</pb-i18n>
                    </a>
                </h3>
                <p>
                    <pb-i18n key="browse.markdown.description">Example of using markdown for static content.</pb-i18n>
                </p>
            </div>
        </li>
    </ul>
</div>